.props-cont {
  width: 90%;
  margin: 70px auto;
}

.props-cont h1 {
  font-size: 24px;
  color: rgb(34, 33, 33);
  margin: 10px 0px !important;
}

.view {
  margin-top: 0px;
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  color: rgb(60, 59, 59);
  margin-bottom: 50px;
}

.prop-cont {
  background-color: #ffffff;
  box-shadow: 5px 6px 7px #88888829;
  width: 100%;
  padding-bottom: 20px;
  margin-right: 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.top-txt {
  text-align: right;
  background-color: lightcyan;
}

.prop-cont:hover {
  box-shadow: 5px 10px 5px #88888829;
  transform: translateY(-10px);
}

.prop-cont:hover img {
  transform: scale(1.05);
}

.image-cont {
  width: 100%;
  position: relative;
  max-height: 200px;
  overflow: hidden;

.image-cont h3 {
  position: absolute;
  left: 8px;
  font-size: small;
  background-color: rgb(1, 77, 77);
  color: white;
  z-index: 20;
  border-radius: 15px;
  padding: 5px 10px;
}

.badges {
  display: flex;
  padding: 0 23px;
  position: relative;
}

.badges h3 {
  font-size: small;
  background-color: rgb(1, 77, 77);
  color: white;
  border-radius: 15px;
  padding: 2px 10px 4px 10px;
}

.badges :nth-child(1) {
  background-color: rgb(235, 180, 77);
  margin-right: 5px;
}

.prop-cont img {
  transition: all 10s ease;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.top {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.422);
  padding: 0 25px;
}

.top h2 {
  font-size: large;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top p {
  margin-top: 2px;
  font-size: smaller;
  color: gray;
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 10px;
}

.essentials {
  display: flex;
  flex-direction: column;
  font-size: x-small;
}

.essentials h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.quant {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.quant p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.essentials h3 {
  color: rgb(86, 86, 86);
}

.quant :nth-child(1) {
  margin-right: 5px;
}
