.navBar {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.629);
  padding: 10px 0;
}

.navBar img {
  width: 150px;
  height: 50px;
  margin-left: 10px;
}

.pages {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
  height: 100%;
  transition: all ease 1s;
}

.pages a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.918);
}

.pages a.active {
  color: white;
}

.pages a:hover {
  color: #04395e;
  text-decoration: underline;
}

.contactPg {
  border: 1px solid white;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 10px;
  transition: all ease 0.2s;
  text-decoration: none;
  color: white;
}

.contactPg:hover {
  background-color: #04395e;
}

#menu-icon {
  font-size: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .pages {
    background-color: white;
    position: absolute;
    flex-direction: column;
    top: 60px;
    padding: 20px 10px;
    width: 100px;
    text-align: center;
    right: -200px;
    display: none;
  }

  .open {
    display: block;
    right: 10px;
  }

  .pages a {
    color: #04395e;
  }
}
