body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 245, 249);
  height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider {
  display: flex;
}
